@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cinza-bem-escuro: #212121;
  --cinza-escuro: #2c2c2c;
  --cinza-mediano: #6d6d6d;
  --azul-claro: #88d6ce;
  --branco: #e6e6e6;
  --branco-80: #e6e6e680;
}

@font-face {
  font-family: "Chillax";
  src: url(../fonts/Chillax-Variable.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--cinza-bem-escuro);
}

header {
  position: absolute;
  width: 80%;
  height: 3.5rem;
  left: 30rem;
  top: 5%;
  display: flex;
  gap: 3rem;
}

#filtroDiv {
  select {
    appearance: none;
    background-color: var(--cinza-escuro);
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 1.3rem center;
    background-size: 15%;
    color: var(--branco);
    border: none;
    height: 100%;
    width: 15rem;
    display: flex;
    justify-content: space-evenly;
    padding-left: 2rem;
    border-radius: 1.5rem;
    font-size: 1.6rem;
    outline: none;
  }
}

#search-bar {
  position: relative;
  i {
    position: absolute;
    font-size: 2.3rem;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    color: var(--branco);
  }

  input {
    background-color: var(--cinza-escuro);
    border: none;
    height: 100%;
    width: 50rem;
    border-radius: 1.5rem;
    color: var(--branco80);
    outline: none;
    padding-left: 2rem;
    font-size: 1.6rem;
    color: var(--branco);
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
    appearance: none;
  }
}

#sidebar {
  position: fixed;
  background-color: var(--cinza-escuro);
  width: 20rem;
  height: 70%;
  left: 5rem;
  top: 8rem;
  border-radius: 3rem;

  nav {
    > ul {
      list-style: none;
      margin-left: 3rem;
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      gap: 3rem;

      > li {
        &:nth-child(1) a {
          color: var(--azul-claro);
        }

        a {
          text-decoration: none;
          font-size: 1.6rem;
          color: var(--branco);
          display: flex;
          gap: 2rem;
          transition: 0.3s ease;

          &:hover {
            color: var(--azul-claro);
          }
        }
      }

      details {
        overflow: hidden;
        transition: all 0.3s ease;

        summary {
          list-style: none;
          font-size: 1.6rem;
          color: var(--branco);
          display: flex;
          align-items: center;
          gap: 2rem;
          transition: 0.3s ease;
          cursor: pointer;

          &:hover {
            color: var(--azul-claro);
          }
        }

        summary::-webkit-details-marker {
          display: none;
        }

        ul {
          display: flex;
          gap: 1rem;
          flex-direction: column;
          padding-top: 1rem;
          list-style: none;
          max-height: 0;
          overflow: hidden;
          opacity: 0;
          transition: max-height 0.4s ease, opacity 0.4s ease;
          margin-top: 0.5rem;
          margin-left: 2rem;
          transition: .3s ease;

          li a {
            font-size: 1.4rem;
            color: var(--branco);
            transition: 0.3s ease;

            &:hover {
              color: var(--azul-claro);
            }
          }
        }

        &[open] ul {
          max-height: 200px;
          opacity: 1;
          transition: .3s ease;
        }

        summary i {
          transition: transform 0.3s ease;
        }

        &[open] summary i {
          transform: rotate(90deg);
        }
      }
    }
  }
}


main {
  width: 80%;
  min-height: 100vh;
  height: auto;
  margin-left: 30rem;
  margin-top: 10rem;
}

#hero-destaques-section {
  width: 100rem;
  position: relative;
}

.hero-destaques {
  width: 90%;
  height: 45%;
  border-radius: 2rem;
}

#destaque-texto {
  position: absolute;
  bottom: 6rem;
  left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--branco);

  div:nth-child(1) {
    p {
      backdrop-filter: blur(30px);
      padding: 0.5rem 2rem;
      border-radius: 1rem;
      width: 8rem;
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  h3 {
    font-size: 2.5rem;
  }

  > p {
    width: 40rem;
    font-size: 1.3rem;
  }

  div:last-child {
    display: flex;
    gap: 1.5rem;
    button {
      border: none;
      padding: 0.5rem 2rem;

      &:nth-child(1) {
        background-color: var(--branco);
        color: var(--cinza-bem-escuro);
        font-weight: 500;
        border: none;
        font-size: 1.6rem;
        border-radius: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
      }

      &:nth-child(2) {
        background-color: var(--cinza-escuro);
        border-radius: 2rem;
        font-size: 1.6rem;
        color: inherit;
      }
    }
  }
}

#filmes-mais-vistos {
  margin-top: 3rem;
  h3 {
    color: var(--branco);
    font-size: 2.3rem;

    &::first-letter {
      color: var(--azul-claro);
    }
  }
}

#filmes-mais-vistos-container {
  margin-top: 1.5rem;
  display: flex;
  gap: 3rem;
}

.filmes-mais-vistos-card {
  color: var(--branco);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: -1rem;
  img {
    width: 18rem;
    border-radius: 1rem;
  }

  div {
    display: flex;
    gap: 2rem;
    font-size: 1.4rem;

    p {
      color: var(--branco-80);
    }
  }

  h4 {
    font-size: 1.8rem;
    width: 15rem;
    font-weight: 500;
  }
}
