@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cinza-bem-escuro: #212121;
  --cinza-escuro: #2c2c2c;
  --cinza-mediano: #6d6d6d;
  --cinza-mediano2: #4B4B4B;
  --azul-claro: #88d6ce;
  --branco: #e6e6e6;
  --branco-80: #e6e6e680;
}


* {
  margin: 0;
  padding: 0;
  top: 0;
  font-family: "Montserrat", sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    padding-bottom: 20rem;
}

body {
    background-color: var(--cinza-bem-escuro);
}

#botao-voltar {
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 3rem;
    background: none;
    border: none;
    color: var(--branco);
    cursor: pointer;
}

main {
    margin-top: 3rem;
}

#infos-gerais {
    color: var(--branco-80);
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    h1 {
        color: var(--branco);
        font-size: 3rem;
        &::first-letter {
            color: var(--azul-claro);
        }
    }

    h2 {
        font-weight: 500;
        margin-top: .5rem;
    }

    h2, p {
        text-indent: 2rem;
        font-size: 1.6rem;
    }
}

#visuais {
    justify-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    img, iframe {
        border-radius: 1.5rem;
    }
    img {
        width: 30rem;
    }
    iframe {
        width: 90rem;
        aspect-ratio: 2/1;
    }
}

#generos-container {
    margin-top: 1rem;
    margin-left: 16rem;
    color: var(--branco);
    font-size: 1.6rem;

    ul {
        list-style: none;
        display: flex;
        gap: 2rem;
    }
    ul li {
        padding: .8rem;
        border: 1px solid var(--branco-80);
        border-radius: 1.5rem;
    }
}

#sinopse {
    margin-top: 3rem;
    margin-left: 15rem;
    color: var(--branco);
    font-size: 1.8rem;
    width: 100%;
    line-height: 145%;
}

#diretores {
    margin-left: 15rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        img {
            width: 15rem;
            height: 15rem;
            object-fit: cover;
            border-radius: 100%;
        }

        p {
            font-size: 2rem;
            color: var(--branco);
            font-weight: 600;
        }
        
    }
}

#infos-e-outros {
    display: flex;
    gap: 0;

    > div:nth-child(1) {
        width: 60%;
        text-align: justify;
    }

    > section {
        margin-left: auto;
        margin-right: 15rem;
        margin-top: 1.5rem;
    } 
}

#avaliacao {
    color: var(--branco);
    font-weight: 600;
    font-size: 3rem;
    text-align: right;
}

#acoes {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
        padding: .8rem 1.5rem;
        text-align: center;
        text-decoration: none;
        font-size: 1.6rem;
        border-radius: 1rem;
        transition: .3s ease;
    }

    a:nth-child(1) {
        background-color: var(--branco);
        color: var(--cinza-bem-escuro);
        font-weight: 600;
        
        i {
            color: var(--cinza-bem-escuro);
            
        }

        &:hover {
            background-color: var(--branco-80);
        }
    }

    a:nth-child(2) {
        background-color: var(--cinza-mediano2);
        color: var(--branco);

        &:hover {
            background-color: var(--cinza-escuro);
        }
    }
}