@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* * VARIÁVEIS */
:root {
  --cor-fundo: #2e2e2e;
  --cor-texto: #e1e1e1;
  --azul: #4062de;
  --azul-claro: #69aee7;
  --azul-escuro: #1c0852;
  --branco: #e1e1e1;
  --cinza: #2e2e2e;
  --cor-texto-hover: #fff;
}

/* * DEFINIÇÕES GERAIS INICIAIS */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--cor-fundo);
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.titulo {
  font-family: "Raleway", sans-serif;
}

/* * ESTILIZAÇÃO DA PÁGINA */

/* * HEADER */
header {
  background: transparent;
  width: 100%;
  left: 70px;
  top: 70px;
  position: absolute;

  nav {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 57px;

    a {
      color: var(--cor-texto);
      font-size: 18px;
      font-weight: 500;
      text-decoration: none;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 0%;
        height: 2px;
        background: var(--azul);
        transition: width 0.3s ease;
      }

      &:hover {
        color: var(--cor-texto-hover);
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

#inicio {
  width: 100%;
  height: 70vh;

  #inicio-blobAzul {
    position: absolute;
    top: 0;
    right: 0;
  }

  #inicio-texto {
    margin-left: 70px;
    width: 621px;
    height: 224px;
    margin-top: 12%;
    color: var(--cor-texto);

    #inicio-foto {
      position: absolute;
      right: 70px;
      top: 50%;
      transform: translateY(-50%);
      width: 500px;
      height: 500px;
      border-radius: 100%;
      img {
        width: 500px;
        height: 500px;
        border-radius: 100%;
        border: 2px solid var(--azul-claro);
      }
    }

    h1 {
      font-family: Raleway;
      font-size: 90px;
      font-weight: 600;
      line-height: 110%;

      span {
        color: var(--azul);
        font-family: Raleway;
        font-size: 110px;
        line-height: 110%;
      }
    }

    p {
      width: 797px;
      color: var(--cor-texto);
      font-family: "Plus Jakarta Sans";
      font-size: 23px;
      font-weight: 400;
      line-height: 135%;
      margin-top: -50px;
    }

    div {
      display: flex;
      gap: 20px;
      color: var(--cor-texto);

      a:nth-child(1) {
        background: var(--azul);
        width: 145px;
        height: 42px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        color: inherit;
        font-weight: 500;
        font-size: 18px;
        transition: box-shadow 0.3s ease;

        i {
          font-size: 25px;
        }

        &:hover {
          box-shadow: 0 4px 10px var(--azul);
        }
      }

      a:nth-child(2) {
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--cor-texto);
        width: 143px;
        height: 42px;
        text-decoration: none;
        color: inherit;
        border-radius: 10px;
        transition: border 0.3s ease;

        &:hover {
          border: 1px solid var(--azul);
        }
      }
    }
  }
}

#sobre-mim {
  width: 100%;
  height: 800px;

  div {
    hr {
      width: 636px;
      height: 1px;
      border: none;
      background: linear-gradient(270deg, var(--branco) 0%, var(--azul) 100%);
    }
  }

  #sobre-mim-texto {
    display: flex;
    div:nth-child(1) {
      margin-left: 70px;
      h2 {
        color: var(--cor-texto);
        font-size: 70px;
        font-weight: 600;

        span {
          color: #69aee7;
        }
      }

      hr {
        margin: -50px 0 0 0;
      }

      p {
        width: 775px;
        color: var(--cor-texto);
        font-size: 23px;
        font-weight: 400;
        line-height: 135%;
      }
    }

    div:nth-child(2) {
      margin-left: 100px;
      margin-top: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      img {
        width: 200px;
        height: 200px;
        border-radius: 20px;
      }
    }
  }

  div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;

    h2 {
      font-size: 70px;
      font-weight: 600;
      background: linear-gradient(90deg, var(--azul) 0%, var(--branco) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    hr {
      margin-top: -40px;
    }

    ol {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px 50px;
      width: 400px;

      li {
        font-size: 23px;
        color: var(--cor-texto);
      }
    }
  }
}

#viagens {
  width: 100%;
  height: 400px;

  h2 {
    font-size: 70px;
    font-weight: 600;
    background: linear-gradient(90deg, var(--azul) 0%, var(--branco) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  hr {
    width: 636px;
    height: 1px;
    border: none;
    background: linear-gradient(270deg, var(--branco) 0%, var(--azul) 100%);
    margin-top: -40px;
  }
}

#conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  width: 1160px;
  height: 289px;
  margin-top: 20px;

  p {
    color: var(--cor-texto);
    font-size: 18px;
    font-weight: 400;
    line-height: 145%;
    width: 533px;
    height: 131px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
    li a {
      text-decoration: none;
      color: var(--azul-claro);
    }
  }
}

.lugares {
  display: flex;
  position: relative;

  h3 {
    position: absolute;
    top: -60px;
    left: -15px;
    z-index: 3;
    background: linear-gradient(90deg, var(--azul) 0%, var(--branco) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  img {
    border-radius: 10px;
    background: #d9d9d9;

    &:nth-child(1) {
      width: 150px;
      height: 100px;
      position: absolute;
      z-index: 2;
      border: 3px solid var(--cinza);
      top: -15px;
      left: -20px;
    }

    &:nth-child(2) {
      width: 439px;
      height: 193px;
      z-index: 1;
    }

    &:nth-child(3) {
      width: 150px;
      height: 100px;
      z-index: 2;
      position: absolute;
      border: 3px solid var(--cinza);
      bottom: -30px;
      right: -20px;
    }
  }

  button {
    font-size: 50px;
    background: none;
    border: none;
    color: var(--cor-texto);
    z-index: 4;
    cursor: pointer;

    &:nth-child(1) {
      margin-right: 15px;
    }

    &:last-child {
      margin-left: 15px;
    }
  }
}

#conhecer {
  width: 100%;
  height: 600px;
  margin-top: 50px;
  h2 {
    color: var(--cor-texto);
    font-size: 70px;
    font-weight: 600;
    line-height: 110%;
    margin-left: 70px;

    span {
      color: var(--azul-claro);
    }
  }

  hr {
    width: 700px;
    height: 1px;
    background: linear-gradient(270deg, var(--branco) 0%, var(--azul) 100%);
    border: none;
    margin-left: 70px;
    margin-top: 0;
    margin-top: -30px;
  }
}

#conhecer-conteudo {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  

  p {
    color: var(--cor-texto);
    font-size: 18px;
    font-weight: 400;
    line-height: 145%;
    width: 533px;
    height: 131px;
  }

  ol {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    li {
      a {
        text-decoration: none;
        color: var(--azul-claro);
      }
    }
  }
}
